Django
django-cors-headers
django-environ
django-graphql-jwt
django-helusers
django-ilmoitin
django-parler
django-cleanup
django-filter
django-storages[google, azure]
factory-boy
graphene-django
graphene-file-upload
psycopg2
sentry-sdk
Pillow
pycountry
django-guardian
requests
